<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/d5bfb13614.js" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="./css/styles.css">
  <title>Add New Cars</title>
</head>

<body>
  <!-- Side Bar -->
  <div class="sidenav">
    <!-- Nav Item - Logo -->
    <li class="nav-item mb-5">
      <a class="nav-logo" href="">
        <span></span></a>
    </li>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item mb-2 mt-1">
      <a class="nav-link" href="">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span></a>
    </li>
    <!-- Nav Item - Cars -->
    <li class="nav-item mb-2" style="background-color: #CFD4ED;">
      <a class="nav-link" href="">
        <i class="fa-solid fa-truck"></i>
        <br>
        <span>Cars</span></a>
    </li>
  </div>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="padding-left: 350px;">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-bars"></i></a>
          </li>
        </ul>
        <div class="nav-form">
          <form class="d-flex">
            <input class="form-control" type="search" style="font-size: smaller;" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-primary" style="color:#0D28A6; font-weight: bold; font-size: smaller;"
              type="submit">Search</button>
          </form>
        </div>
        <div class="profile mx-4">
          <a><img src="./images/profile.png">
            Unis Badri
            <i class="fa-solid fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Side Bar -->
  <div class="sidenav-2">
    <!-- Nav Item - Logo -->
    <li class="nav-item mb-5">
      <a class="nav-logo" href="">
        <span></span></a>
    </li>
    <!-- Nav Item - Cars -->
    <li class="nav-item mb-2">
      <a class="nav-link" href="">
        <span>CARS</span></a>
    </li>
    <!-- Nav Item - List Car -->
    <li class="nav-item mb-2">
      <a class="nav-link" style="background-color: #CFD4ED; color: black; font-weight: bold;" href="">
        <span>List Car</span></a>
    </li>
  </div>

  <div class="content-wrapper">
    <div class="container">
      <div class="row mb-lg-3">
        <div class="col-lg-10">
          <strong style="font-size: small;">
            <strong>Cars >
            </strong>
            <a style="color: black; font-weight: bold" href="/">List Car ></a> Add New Car</strong>
        </div>
        <div style="margin-top:13px">
          <h3 style="font-weight: bold">Add New Car</h3>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper p-3 mb-2 bg-white text-black ">
    <div class="container">
      <!-- add new cars -->
      <div class="card add-cars">
        <form action="http://localhost:2005/cars" method="post" class="card-body">
          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nama</label>
            <div class="col-sm-10">
              <input type="text" name="nama" class="form-control form-control-sm" id="colFormLabelSm"
                placeholder="Avanza">
            </div>
          </div>

          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Sewa
              Per-Hari</label>
            <div class="col-sm-10">
              <input type="text" name="harga" class="form-control form-control-sm" id="colFormLabelSm"
                placeholder="Rp.0,-">
            </div>
          </div>
          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Ukuran</label>
            <div class="col-sm-10">
              <select name="ukuran" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Foto</label>
            <div class="col-sm-10">
              <input type="text" name="foto" class="form-control form-control-sm" id="colFormLabelSm"
                placeholder="Masukan URL Foto">
            </div>
          </div>
          <div id="carAdd" class="d-flex post-save">
            <button class="button button2" href="/">Cancel</button>
            <button class="button button2" type="submit" class="btn bg-blue rounded px-3 py-2 ms-4"> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- add new cars -->



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>