<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/d5bfb13614.js" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="./css/styles.css">
  <title>Car Management Dashboard</title>
</head>

<body>

  <!-- Side Bar -->
  <div class="sidenav">
    <!-- Nav Item - Logo -->
    <li class="nav-item mb-5">
      <a class="nav-logo" href="/">
        <span></span></a>
    </li>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item mb-2 mt-1">
      <a class="nav-link" href="">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span></a>
    </li>
    <!-- Nav Item - Cars -->
    <li class="nav-item mb-2" style="background-color: #CFD4ED;">
      <a class="nav-link" href="">
        <i class="fa-solid fa-truck"></i>
        <br>
        <span>Cars</span></a>
    </li>
  </div>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="padding-left: 350px;">
            <button id="sidebarToggle" class="btn sidebarToggle">
              <i class="fas fa-bars"></i>
          </li>
        </ul>
        <div class="nav-form">
          <form class="d-flex">
            <input class="form-control" type="search" style="font-size: smaller;" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-primary" style="color:#0D28A6; font-weight: bold; font-size: smaller;"
              type="submit">Search</button>
          </form>
        </div>
        <div class="profile">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="./images/profile.png" alt="">
              Unis Badri
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Profile</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Settings</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Responsive Side Bar -->
  <div class="page">
    <div class="sidebar">
      <div class="sidebar-header">
        <div class="sidebar-logo-container">
          <div class="logo-container">
            <a class="navbar-brand" href="/"></a>
          </div>
        </div>
      </div>
      <div class="sidebar-body">
        <ul class="navigation-list">
          <li class="navigation-list-item">
            <a class="navigation-link" href="/">
              <div class="row">
                <div class="col-9">CARS</div>
              </div>
            </a>
          </li>
          <li class="navigation-list-item">
            <a class="navigation-link" href="/">
              <div class="row">
                <div class="col-9">List Car</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="container">
      <div class="row mb-lg-3">
        <div class="col-lg-10">
          <p style="font-size: small;"><strong> Cars <i class="fa-solid fa-chevron-right"></i> </strong> List Car</p>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-10">
          <p style="font-weight: bold; font-size: 20px;">List Car</p>
        </div>
        <div class="col-lg-2">
          <a href="/cars" type="button" class="btn btn-primary btn-sm" style="background-color:#0D28A6;"><i
              class="fa-solid fa-plus"></i> Add New Car</a>
        </div>
        <div class="button-list">
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="true">All</a>
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="t1ue">Small</a>
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="true">Medium</a>
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="true">Large</a>
        </div>
      </div>
      <div class="container mt-4">
        <div class="row car-body mt-5">
          <% cars.map((car)=> { %>
          <div class="col-lg-4 mt-3">
            <div class="card"
              style="-webkit-box-shadow: 0 0 10px #F1F3FF; box-shadow: 0 0 10px #F1F3FF; border-radius: 8px; height: 400px;">
              <div class="card-body">
                <img src="<%= car.foto %>" style="max-width: 100%; width: 100%; height: 55%; padding-bottom: 15%;">
                <p class="card-tittle"><strong>
                    <%= car.nama %>
                  </strong></p>
                <p class="card-text" style="font-weight: bold;"> Rp. <%= car.harga %> /hari </p>
                <p class="card-tittle" style="font-size: small;">
                  <%= car.updatedAt %>
                </p>
                <button value="<%= car.id %>" type="button" class="btn btn-outline-danger buttonDelete"
                  data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 3%;">
                  <i class="fa-solid fa-trash pe-3"></i> Delete
                </button>
                <a href="/update/<%= car.id %>" type="button" class="btn btn-primary"
                  style="background-color:#4CAF50; width: 50%; height: 10%; font-size: 14px;"><i
                    class="fa-solid fa-pen-to-square"></i> Edit</a>
              </div>
            </div>
          </div>

          <% }) %>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header justify-content-center border-bottom-0">
                  <h5 class="modal-title" id="exampleModalLabel">
                    <img src="/images/1.png" alt="" />
                  </h5>
                </div>
                <div class="modal-body text-center">
                  <h5 class="fw-bold">Menghapus Data Mobil</h5>
                  <p class="px-5 mx-4" style="font-size: 14px">
                    Setelah dihapus, data mobil tidak dapat dikembalikan.
                    Yakin ingin menghapus?
                  </p>
                </div>
                <div class="modal-footer justify-content-center border-top-0">
                  <form id="formDelete" method="post" action="http://localhost:2005/deleteCars/">
                    <button type="submit" class="btn btn-primary button-allow">
                      YA
                    </button>
                  </form>
                  <button type="button" class="btn btn-outline-primary button-deny" data-bs-dismiss="modal">
                    TIDAK
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Side Bar JavaScript -->
  <script>
    let sidebarToggle = document.querySelector(".sidebarToggle");
    sidebarToggle.addEventListener("click", function () {
      document.querySelector("body").classList.toggle("active");
      document.getElementById("sidebarToggle").classList.toggle("active");
    })

    const buttonDelete = document.getElementsByClassName("buttonDelete");
    const form = document.getElementById("formDelete")
    Array.from(buttonDelete).forEach(btn => {
      btn.addEventListener("click", function () {
        form.action = form.action + btn.value
      })
    })
  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>